<h1>Add a meetup</h1>

<form action = '/add_meetup' method ="post">
  Event Name<br>
  <input type="text" name = "title" required>
  <br>
  Description<br>
  <input type="textarea" name = "description" required>
  <br>
  Location<br>
  <input type="textarea" name = "location" required>
  <br>
  URL<br>
  <input type="textarea" name = "url" required>
  <br>
  <input type= submit value= "Add it!">
</form>
